html, body {
  margin: 0px;
  background-color: rgb(8, 109, 8);
  color: white;
}

.titulo{
  text-align: center;
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 16px;
}

.carta{
  position: relative;
  width: 110px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas, #jugador-cartas{
  height: 180px;
}